[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
expects = "*"
pycodestyle = "*"
autopep8 = "*"
flake8 = "*"
deepdiff = "*"
pre-commit = "*"

[packages]
stringcase = "*"

[requires]
python_version = "3.7"
